.bg-container {
  width: 600px;
  height: 400px;
  background-image: url("assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
