*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-width: 1600px; */
}
body{
    font-family: "Inter", sans-serif;
    background-color: #220f3a;
}

/* Nav bar styles */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
}
.list-items ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 0.90rem;
    font-weight: 500;
}
.list-items ul a{
    text-decoration: none;
    color: white;
    
}
.Tech{
    color: white;
    font-size: 4rem;
    font-weight: 600;
}
.Wave{
    color: red;
    font-size: 4rem;
    font-weight: 600;
}
.subscribe-btn{
    background: linear-gradient(
    45deg,
    #F7E93F,
    #FB09B4,
    #9100F8
    );
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: white;
}


/* shared tag  */


.grid-cart-section-heading{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
}

.grid-cart-section-paragraph{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}

.rating-review{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}



/* Featured section styles */

.Featured-episode{
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */

}

.feature-heading{
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.yt-video iframe{
    border-radius: 10px;
    height: 230px;
    width: 375px;
    padding: 4px;
}


.Featured-episode .featured-cart{
    display: flex;
    flex-direction: column;
    /* background-color: #705a8d; */
    background-color: #250D44;
    width: 380px;
    /* height: 440px; */
    border-radius: 8px;
    /* border: 3px solid red; */
}
.feature-text{
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 24px 24px 12px 24px;
}

.feature-description{
    color: #FFFFFF;
    padding: 12px 24px 12px 20px;
    font-size: 0.90rem;
    font-weight: 400;
}

.feature-time{
    color: white;
    padding: 24px;
}
.feature-whole{
    display: flex;
    flex-wrap: column;
    justify-content: center;
    gap: 30px;
}

.feature-time{
    display: flex;
    align-items: center;
    gap: 8px;
}
.feature-time img{
    height: 17px;
    width: 17px;
}
.Featured-episode{
    margin-bottom: 120px;
}

/* Host section started from here  */

.host-whole{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #250D44;
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 120px;
}
.meet-host-heading{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.host-pic{
    height: 200px;
    width: 200px;
}

.host-info{
    color: white;
    padding: 20px;
    padding-left: 20px;
}
.host-info p{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #e6e2e2;
}
.host-info .social-link{
    display: flex;
    justify-content: left;
    gap: 8px;
}
.pic-1, .pic-2, .pic-3, .pic-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}


/* Grid cart section started from here  */

.Grid-heading{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.grid-cart-whole{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.grid-cart{
    grid-row: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 40px;
    padding: 40px;
}
.grid-cart img{
    height: 60px;
    width: 60px;
}
.grid-cart-1 img{
    height: 80px;
    width: 60px;
    padding: 10px;
}
.grid-cart-2 img{
    height: 60px;
    width: 60px;
}
.grid-cart-1, .grid-cart-2{
    grid-column: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:40px;
    padding: 40px;
}

.grid-cart-3{
    grid-column: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
}

.grid-cart-3 img{
    height: 60px;
    width: 60px;
    border-radius: 8px;
    padding-top: 12px;
}

.grid-cart-4{
    grid-column: span 1;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
    /* padding-bottom: 40px; */
}
.grid-cart-4 p{
    padding-bottom: 40px;
}
.grid-cart-4 img{
    height: 100px;
    width: 60px;
    border-radius: 8px;
    padding-top: 40px;
}


/* Podcast Folder started from here  --> */

.whole-podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 80px;
}
.podcast-paragraph-1{
    margin-top: 18px;
    text-align: center;
}
.podcast-paragraph-2{
    margin-top: 40px;
    text-align: center;
}

.reputation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 120px;
}


/* footer section started from here  */

.footer{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.footer .flex-icon-link{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.footer-flex{
    display: flex;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 212px;
    left: 548px;
}

.footer-description{
    position: absolute;
    top:268px;
    left: 650px;
}

.grid-cart-section-paragraph-2{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}